@mixin center() {
  align-items: center;
  display:flex;
  flex-direction: column;
}

.App {
  @include center;

  .project-list {
    @include center;
    background:red;
    border:1px solid red;

    .project {
      border:1px solid black;
      background:white;
      margin:8px;
      padding:8px;
      width:500px;
    }
  }
}
